<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://localhost:8080/member/create-check" method="GET">
        <label for="name">
            이름 <input type="text" id="name" name="name"><br>
        </label>
        <label for="id">
            id <input type="text" id="id" name="id"><br>
        </label>
        <label for="pwd">
            pwd <input type="password" id="pwd" name="pwd"> <br>
        </label>
        <input type="submit" value="제출">
    </form>

</body>
</html>